{% extends 'master.html' %}
{% load static %}

{% block title  %} 
    <title>FiftyVibe</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block main %}
<main class="min-h-[90vh] px-[150px] w-full flex items-center justify-between">
    <div class='flex flex-col items-center gap-5 px-10 py-6 w-full'>
        <h3 class='text-5xl text-[#5b0E14] font-bold' id='h3'>Signup</h3>
        <h4 class='text-gray-900 font-semibold'>Sign Up! it's free!</h4>
        <form class='w-full flex flex-col items-center gap-8 w-full' method="POST" >
            {% csrf_token %}
            <div class='grid grid-cols-2 gap-5 w-full'>
                <input type="text" placeholder='First Name' class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' name='name' required>
                <input type="text" placeholder='Last Name' class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' name='lastname' required>
                <input type="email" placeholder='Email' class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' name='email' required>
                <input type="text" placeholder='Username' class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' name='username' required>
                <input type="password" placeholder='Password' class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' name='password' required>
                <input type="password" placeholder='Repeat password' class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' name='rep_password' required>
                <div class="flex items-center justify-around w-full gap-2 text-gray-900 font-semibold border-b border-[#5b0E14] rounded">
                    <div class="cursor-pointer">
                        <label for="female">Female</label>
                        <input type="radio" id='female' name='gender' class="accent-[#9b0E27] checked" required value='female'>
                    </div>
                    <div class="cursor-pointer">
                        <label for="male">Male</label>
                        <input type="radio" id='male' name='gender' class="accent-[#9b0E27] checked" required value='male'>
                    </div>
                    <div class="cursor-pointer">
                        <label for="other">Other</label>
                        <input type="radio" id='other' name='gender' class="accent-[#9b0E27] checked" required value='other'>
                    </div>
                </div>
                <input type="date" class='px-[15px] py-[5px] bg-[#FaF1F4] border-b border-[#5b0E14] placeholder:text-[black]/80 rounded outline-none focus:border-[#9b0E27] w-full' required name='b_day'>
            </div>
            <button type='submit' class='bg-[#9b0E27] px-10 py-3 rounded w-full max-w-[500px] text-[#FaF1F4] duration-100 hover:opacity-90 '>Submit</button>
        </form>
        <p>Do you have account? Then <a href="{% url 'log_in' %}" class='text-[#9b0E27] font-semibold'>login</a></p>
    </div>
</main>

{% include "footer.html" %}
{% endblock main %}